@using NuGet.Protocol
@model ApplicationForm.ViewModel.ApplicationForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Application</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthdayDate" class="control-label"></label>
                <input asp-for="BirthdayDate" type="Date" class="form-control"/>
                <span asp-validation-for="BirthdayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationId" class="control-label"></label>
                <select asp-for="EducationId" class="form-control" asp-items="ViewBag.EducationId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">LM</label>
                <input type="File" asp-for="File" class="form-control" accept="image/jpeg, application/pdf, application/msword"/>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CV</label>
                <input type="File" asp-for="File" class="form-control" accept="image/jpeg, application/pdf, application/msword"/>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div id="attached-file-group">

            </div>

            <a id="add-attached-file">Add file</a>
            <div class="form-group">
                <label class="control-label">Count Of Internship</label>
                <input type="number" id="count-of-internship" class="form-control" value="0" min="0" max="20"/>
            </div>
            <div id="internship-list">
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<script src="/js/index.js"></script>