@using NuGet.Protocol
@model ApplicationForm.ViewModel.ApplicationForm

@{
    ViewData["Title"] = "Formularz Zgłoszeniowy";
}

<h1>Dziekuje za skorzystanie z formularza</h1>

<hr/>
<div class="row">
    Skontaktujemy się z tobą w późniejszym terminie.
</div>
